table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 0 0.5em;
}

th {
  text-align: left;
}

tbody tr th {
  border: 0;
}

tbody tr:nth-child(2n+4) th {
  border-top: 1px solid black;
}

tbody tr td:last-of-type {
  text-align: right;
}

thead tr,
tbody tr:nth-child(even) td {
  background-color: yellow;
}

tfoot {
  background-color: yellow;
  text-align: right;
  font-weight: bold;
}