/*
    Student Name: Yehoshua Anton
    File Name: services.css
    Date: 09/29/2026
*/

img {
    border-radius: 2%;
}


table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

thead tr {
    background-color: black;
    color: white;
    font-size: 2em;
}

thead tr th {
    padding: 0.5rem;
}

th,
td {
    border: 1px solid black;
    padding: 0.5em;
}

td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

@media (min-width: 601px) and (max-width: 767px) {
    table {
        width: 80%;
        margin: auto;
    }
}